bin/
build/
build-data/
dist/
cache/
lib/ivy/

*.properties
*.txt
!source/net/filebot/media/release-groups.txt
!source/net/filebot/media/release-groups.LICENSE-CC0-1.0.txt
!source/net/filebot/media/query-blacklist.txt
!source/net/filebot/media/series-mappings.txt
!source/net/filebot/media/thetvdb.txt

*.sh
*.cmd
*.groovy

*.cer
*.pfx
*.pvk

.DS_Store
