[Desktop Entry]
Name=Checksum
Tooltip=Calculate checksum with openfilebot
Profiles=Media;

[X-Action-Profile Media]
Name=Checksum
MimeTypes=@{deb.application.mimetype}
Exec=openfilebot --mode SFV %F
