[Desktop Entry]
Name=Subtitles
Tooltip=Fetch subtitles with openfilebot
Profiles=Media;

[X-Action-Profile Media]
Name=Subtitles
MimeTypes=@{deb.application.mimetype}
Exec=openfilebot --mode Subtitles %F
